<!--- EDITING THE MAIN COLUMN -->
<div id="mainColumn">
  <h2>Admin: add to the total income</h2>
  <form action="/admin_total_income" method="post">
    <form class="well">
      <label>Title</label>
      <input name="title" type="text" class="span3">
      <label>Amount</label>
      <input name="amount" type="text" class="span3">
      <label class="checkbox">
        <input type="checkbox"> I confirm that the value and title are valid
      </label>
      <button type="submit" class="btn">Submit</button>
    </form>
  </form>
</div>
