<!-- EDITING LEFT COLUMN -->
<div id="leftColumn">
  <h2>Overview</h2>
  <form action="/" method="post"></form>
  <div id="sidebar">
    <ul>
    <li><a href="/vision" title="Overview of Shanghai VMware Foundation: Vision">Vision</a></li>
    <li><a href="/projects" title="Overview of Shanghai VMware Foundation: Projects">Projects</a></li>
    <li><a href="/comments" title="Overview of Shanghai VMWare Foundation: Comments">Comments</a></li>
    </ul>
  </div>
</div>

<!-- EDITING RIGHT COLUMN -->
<div id="rightColumn">
  <h2>Details of Accounts</h2>
  <p>This is the website for Shanghai VMware Foundation</p>
</div>
