<!-- EDITING LEFT COLUMN -->
<div id="leftColumn">
  <h2>Overview</h2>
  <form action="/" method="post"></form>
  <div id="sidebar">
    <ul>
    <li><a href="/vision" title="Overview of Shanghai VMware Foundation: Vision">Vision</a></li>
    <li><a href="/projects" title="Overview of Shanghai VMware Foundation: Projects">Projects</a></li>
    <li><a href="/comments" title="Overview of Shanghai VMWare Foundation: Comments">Comments</a></li>
    </ul>
  </div>
</div>

<!-- EDITING RIGHT COLUMN -->
<div id="rightColumn">

  <p class="clearfix"><img class="left" src="images/foundation-news1.png" alt="" />
Shanghai VMware Foundation was kicked off in late June 2012. With a strong support from the management board from Shanghai Office, the foundation program was introduced to all employees in VMware Shanghai R&D center in the first Happy Hour after their movement to the new site. As a part of the F4 Club (Fun, Fitness, Friends and Foundation), the VMware Shanghai Foundation has received a warm welcome from all VMware Shanghai employees. </p>

  <p class="clearfix"><img class="right" src="images/foundation-news2.png" alt="" />
<BR>Aiming at inspiring more volunteer engagement and contribution to the fairness in the society and protection of the environment, the VMware Shanghai Foundation plans to leverage the technological and educational advantage from Shanghai R&D center to help more disadvantaged people in the city and advocate for less contamination to the environment. </p>


  <p class="clearfix"><img class="left" src="images/foundation-news3.jpg" alt="" />
Besides joining the global VMware foundation projects, e.g., Matching Gift Program, Service Learning, etc, VMware Shanghai Foundation is looking forward to a further collaboration with local NGOs through joining their charitable services. Also, considering the nature of the BUs (Cloud Foundry, Mozy, Aurora) in Shanghai Office, which have strong leadership in the technology of cloud platforms, they have decided to collaborate with more non-profit technology firms to build more cloud platforms for NGOs in China. </p>

  <p class="clearfix"><img class="right" src="images/foundation-news0.png" alt="" />
<BR><BR>The VMware Shanghai Foundation has initiated several program to raise funds from employees for the global Matching Gift Program. In the mean time, they are negotiating with some charitable organizations for the financial contributuions. More news will be updated in the Q3 news letter. </p>
</div>
